<ion-view view-title="Entrate/Uscite" >
  <ion-content class="padding" >
      <section id="cd-timeline" class="cd-container">
        <div ng-repeat="movimento in movimenti" >

          <div class="cd-timeline-block">

            <div ng-if="movimento.importo<0" class="cd-timeline-icon text-center red"  >
              <i class="{{movimento.descrizione}}" style="font-size:30px" ></i>
            </div>

            <div ng-if="movimento.importo>0" class="cd-timeline-icon text-center green"  >
              <i class="{{movimento.descrizione}}" style="font-size:30px" ></i>
            </div>



            <div ng-if="movimento.importo<0" class="cd-timeline-content padding red" ng-click="showMenu({{movimento.id_entrata}},'uscite')">
              <h5 class="marginBottom0 marginTop0">{{movimento.nome}}</h5>
              <span class="cd-author">{{movimento.data}}</span>
            	<p style="margin-top:0"class="cd-author"><span>{{movimento.ora}}</span><span class="timelineText" style="float:right">{{movimento.importo | currency}}</span></p>

            </div>
            <div ng-if="movimento.importo>0" class="cd-timeline-content padding green" ng-click="showMenu({{movimento.id_entrata}},'entrate')">
              <h5 class="marginBottom0 marginTop0">{{movimento.nome}}</h5>
              <span class="cd-author">{{movimento.data}}</span>
            	<p style="margin-top:0"class="cd-author"><span>{{movimento.ora}}</span><span class="timelineText" style="float:right">+{{movimento.importo | currency}}</span></p>

            </div>

          </div>
        </div>
      </section>
  </ion-content>



</ion-view>
