<ion-view view-title="Cronologia Entrate" >
  <ion-content class="padding" >
      <section id="cd-timeline" class="cd-container">
        <div ng-repeat="entrata in entrate" >

          <div class="cd-timeline-block">

            <div class="cd-timeline-icon text-center green" >
              <i class="{{entrata.descrizione}}" style="font-size:30px" ></i>
            </div>

            <div class="cd-timeline-content padding green">
            	<h5 class="marginBottom0 marginTop0">{{entrata.nome}}</h5>
            	<p class="marginTop5 cd-author">{{entrata.data}}<span class="timelineText" style="float:right">+{{entrata.importo | currency}}</span></p>

            </div>
          </div>
        </div>
      </section>
  </ion-content>



</ion-view>
