<ion-view view-title="Cronologia Uscite" >
  <ion-content class="padding" >
      <section id="cd-timeline" class="cd-container">
        <div ng-repeat="uscita in uscite" >

          <div class="cd-timeline-block">

            <div class="cd-timeline-icon text-center red" >
              <i class="{{uscita.descrizione}}" style="font-size:30px" ></i>
            </div>

            <div class="cd-timeline-content padding red">
            	<h5 class="marginBottom0 marginTop0">{{uscita.nome}}</h5>
            	<p class="marginTop5 cd-author">{{uscita.data}}<span class="timelineText" style="float:right">{{uscita.importo | currency}}</span></p>

            </div>
          </div>
        </div>
      </section>
  </ion-content>



</ion-view>
